  .register-header {
    padding: 1em;
    background: #504D4D;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .progress-section {
    position: fixed;
    width: 100%;
  }

  app-progressbar {
    margin-top: 100px;
  }

  .align-right {
    text-align: right;
  }

  .progress-section {
    color: #686666;
    background-color: #fff;
    z-index: 999;
  }

  .progress-comp {
    margin: 50px 20px 0 20px;
  }

  .form-section {
    padding-top: 250px;
  }

  .reg-type {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .form-section {
    margin-left: 5px;
    margin-right: 5px;
    color: #686666;
    label {
      font-weight: bold;
      font-size: 17px;
    }
  }
  
  .input-group-text {
    font-size: 1.5rem;
    background-color: #fff;
  }

  .next-btn {
    font-size: 15px;
    background-color: #686666;
    color: #fff;
    font-weight: bold;
    &:hover {
      color: #fff;
    }
    padding: 0.7rem .75rem;
  }

  .form-control,.input-group-text {
    border: 1px solid #adadad;
  }

  .pass-desc {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    p {
      margin-bottom: 5px;
      color: #adadad;
    }
    .text-success, .text-danger {
      margin-left: 5px
    }
  }

  .back-btn {
    position: absolute;
    left: 8px;
    .fa {
      font-size: 1.2em;
    }
  }

  .form-section {
    .warning-msg {
      color: #dc3545;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .add-more {
      margin-top: 5px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .multi-items {
      margin-bottom: 5px;
    }

    .mrgnbtm {
      margin-bottom: 5px;
    }

    select { 
     width: 100%; 
    } 

    .dropdown-data {
      display: flex;
      .remove-icon {
        font-size: 30px;
        color: #dc3545;
        margin: 0 10px;
      }
    }

    .email-verify-fail {
      font-size: 19px;
      font-weight: bold;
      color: #dc3545;
    }
    @media only screen and (min-width: 600px){
      max-width: 500px;
      align-items: center!important;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .registration-successful {
    padding: 100px 8px;
    text-align: center;
    font-size: 18px;
    color: #504D4D;
    p.reg-status-text {
      margin-bottom: 15px;
    }
  }
  