// background colors
$background: #edf2f6;
$background_icon: #9b9fc0;
$background_light: #fafbfd;
$background_white: #ffffff;
$background_black: #000000;
$header_gray: #3f4257;
$title-bg: $background_light;

// border color
$border_gray: #e8e8e8;
$input-border: #ced4da;
$title-border: $border_gray;
$slate-color: slateblue;

// font colors
$font_primary: #515365;
$font_secondary: #888da8;
$font_placeholder: #b8bac7;

// button colors
$button_primary: #ff5e3a;
$button_primary_hover: #ff763a;
$button_blue: #38a8ff;
$button_blue_hover: #059aea;
$button_red: #ff0000;
$button_green: #08b215;
